.App {
  text-align: center;
  font-family: "Indie Flower", cursive;
}

a {
  color: black;
}

a:hover,
.logout:hover {
  font-weight: bold;
}

a:visited {
  color: black;
}

.layout {
  display: flex;
  background-color: rgba(245, 245, 245, 0.7);
  flex-direction: column;
}

.children {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 80vh;
  width: 500px;
  margin: 0 auto;
}

h3 {
  font-size: 150%;
  font-weight: bold;
}

form label {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

form input {
  width: 65%;
  padding: 2px;
}

form textarea {
  width: 65%;
}

img {
  width: 350px;
}

input {
  font-family: "Quicksand", sans-serif;
}

/* button styling */

button {
  background-color: #c9ecee;
  width: 70px;
  height: 30px;
  border: 2px solid rgb(63, 202, 202);
  font-family: "Quicksand", sans-serif;
  margin-top: 5px;
}

button:hover {
  background-color: #c9ecee;
}

.logout {
  font-family: "Indie Flower", cursive;
  background-color: #f8fafa;
  border: none;
  height: auto;
  width: auto;
  font-size: 16px;
  text-decoration: underline;
}

.edit {
  margin-right: 5px;
}

/* media queries */

@media screen and (max-width: 830px) {
  .layout {
    flex-direction: column;
  }

  .children {
    width: 100vw;
  }
}

@media screen and (max-width: 500px) {
  form {
    width: 90vw;
  }

  form label {
    flex-direction: column;
    align-items: flex-start;
  }

  form input {
    width: 98%;
  }

  form textarea {
    width: 98%;
  }
}
