.App {
  text-align: center;
  font-family: "Indie Flower", cursive;
}

button {
  background-color: #dbd6da;
  width: 70px;
  height: 30px;
  border-radius: 3px;
  border: 1px solid black;
}

button:hover {
  background-color: #f8edeb;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

.layout {
  display: flex;
  flex-direction: column;

  background-color: rgba(245, 245, 245, 0.7);
}

.children {
  width: 80vw;
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

img {
  width: 250px;
}

.footer img {
  height: 35px;
  width: auto;
}
