.comments-container {
  width: 700px;
  margin: 10px auto;
  padding-top: 25px;
  border: solid rgb(171, 158, 158) 2px;
  background-color: rgba(255, 255, 255, 1);
  text-align: left;
  font-family: "Kirang Haerang", cursive;

  letter-spacing: 1px;
}

.comment {
  margin: 25px;
  border: solid rgb(171, 158, 158) 3px;
  padding: 10px;
}

.comment div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.comment button {
  background-color: #c9ecee;
  border: none;
  height: auto;
}

h6 {
  font-size: 125%;
  font-weight: bold;
}

.create-comment {
  height: 250px;
  width: auto;
  margin-right: 25px;
  margin-left: 25px;
  /* margin-top: 40px; */
  margin-bottom: 40px;
}

.create-comment label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.create-comment textarea {
  width: 99%;
}

.create-comment {
  align-items: flex-end;
}

.modal-container {
  position: fixed;
  bottom: 0;
  left: 20vw;
  height: 100%;
  width: 80vw;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  border-radius: 5px;
  border: 1px solid black;
  background: white;
  padding: 30px;
}

.modal form {
  height: 40vh;
}

.modal label {
  flex-direction: column;
  align-items: flex-start;
}

.modal textarea {
  width: 99%;
}

@media screen and (max-width: 1000px) {
  .comments-container {
    width: 600px;
  }
}

@media screen and (max-width: 650px) {
  .comments-container {
    width: 90vw;
  }
}
